
.unauthorized {
    position: fixed;
    top     : 0;
    left    : 0;
    @include flex-center-column;
    width           : 100vw;
    height          : 100vh;
    background-color: #fff;
  
    & img {
      max-width : 60vw;
      max-height: 60vh;
    }
  }
  