:root{
    --primary-color : #072b83;
    --bg-color:#f0e7e7;
    --hover-color : #948989;
    --danger:#de3e44;
    --success:#1ba345;
    --google:#e04928;
    --facebook:#0072c9;
    --microsoft:#2c75e9;
    --box-shadow:0px 3px 20px rgba(166, 147, 147, 0.7);
    --text-color : #333;
}